body{
    padding: 0;
    margin: 0;
}

.fullscreen{
    height: 100vh;
    width: 100%;
    background-color: rgb(182, 178, 178);
    position: relative;
    background-image:linear-gradient(0deg, #6d6875, #B5838D ,#E5989B ,#FFB4A2 ,#FFCDB2 ,#F3DBCE);
}

img{
    width: 10%;
    position: absolute;
    top: 1%;
    left: 0.5%;
}

.Clap{
    top:1%;
    left: 99.5%;
    transform: translateX(-100%);
}

.ChangeBG{
    top: 99%;  
    left: 99.5%;  
    transform: translate(-100%,-100%);
}

.ChangeM{
    top: 99%;
    left: 0.5%;
    transform: translateY(-100%);
}

.header{
    text-align: center;
}

.main{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F3DBCE;
    border-radius: 16px;
    box-shadow: 0px 7px  rgb(117, 114, 114);
    border: 1px #6d6875 solid ;
}

.left{
    height: 100%;
    width: 40%;
    background-color: #E5989B;
    border-start-start-radius: 16px;
    border-end-start-radius: 16px;
}

.BD_text{
    width: 100%;
    position: relative;
}

div.icon{
    text-align: center;
}

.button {
    all: unset;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 5% 12%;
    margin: 3%;
    background-color: #F3DBCE;
    box-shadow: 
      inset 0 -4px 8px #87bfd8,
      0 4px 6px rgba(#000, .2);
    cursor: pointer;
    color: #0470e3;
    transition: transform .4s cubic-bezier(.55, 1, .15, 1);
    will-change: transform;
    
    &:active {
      transform: scale(.92);
      
      &::after {
        opacity: 1;
      }
    }
    
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-image-source: url('https://assets.codepen.io/4175254/mario-button-borders.png');
      border-image-slice: 50%;
      border-image-width: 40px;
      border-style: solid;
      transform: scale(1.04, 1.08);
      opacity: 0;
      transition-property: opacity;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.55, 1, .15, 1);
      will-change: transform;
    }
    
    &:focus-visible::after {
      opacity: 1;
      animation: pulsate 1s infinite;
    }
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1.04, 1.08);
    }
    50% {
      transform: scale(1.08, 1.12);
    }
    100% {
      transform: scale(1.04, 1.08);
    }
}

@keyframes pulse-grow {
	to {
		transform: scale(1.1);
	}
}

.effect{
	display: inline-block;

	&:hover {
		animation-name: pulse-grow;
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

/* right */
.right{
    height: 100%;
    width: 60%;
    border-end-end-radius: 16px;
    border-start-end-radius: 16px;
}
